<h2>Hello <%= @user.email %>,</h2>

<p>Your reset password token is <%= @user.reset_password_token %>.</p>

<p>If you did not request your password to be reset please ignore this email and your password will stay as it is.</p>

<p><a href="localhost:3000/v1/passwords/#{@user.reset_password_token}/reset_password"></a></p>